@font-face {
	font-family: Cascadia;
	src: url('/CascadiaCode.woff2') format('woff2');
	font-display: swap;
}

html {
	/*	Animate background linear gradient	*/
	background: linear-gradient(35deg, #87bf83, #b1d8d1);

	background-size: 200% 200%;

  animation: Animation 5s ease infinite;

	height: 100vh;
}

@keyframes Animation { 
  0%{background-position:10% 0%}
  25%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

body {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 750px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	font-family: Cascadia, monospace;

	padding: 5px;
	overflow: hidden;
	overflow-y: scroll;
	padding: 0 1rem;
}

img {
	width: 75px;
}

a:visited {	
	color: #0d130dc2;
}

.title {
	padding-top: 2.5rem;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.title > a > svg {
	color: #0d130dc2;
	cursor: pointer;
}

.title > a {
	display: contents;
}

.links > a {
	display: contents;
}

.links > a > svg {
	width: 28px;
	height: 28xp;
}

#projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.section-reader {
}

.project {
	padding: 0.5rem;
	position: relative;
  border-radius: 15px;
  border: #adadad40 3px solid;
  box-shadow: inset 5px 5px 20px rgba(255,255,255,0.1);
  overflow: hidden;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.1),transparent);
}

.project > p {
	margin-bottom: 1rem;
}

.shine {
  width: 1000px;
  height: 100px;
  margin-left: -100px;
  transform: rotate(30deg);
  background: -webkit-linear-gradient(top, transparent, rgba(200,200,200,0.1),transparent);
  position: absolute;
  animation: shine 6s ease-in-out infinite;
}

@keyframes shine{
  0%,100%{
    margin-top: -100px;
    
  }
  50%{
    margin-top: 800px;
  }
}

.app-logo {
	width: 65px;
	border-radius: 15px;
}

@media (max-width: 512px) {
	#projects {
		display: grid;
		grid-template-columns: 1fr;
	}
}

